body {
  background-color: #001145;
}

rect.bordered {
  stroke: #E6E6E6;
  stroke-width:2px;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: white;
}

text.axis-workgate {
  fill: white;
}

text.axis-worktime {
  fill: white;
}






#rtChart2 .axis {
    stroke-width: 1;
}

#rtChart2 .axis .tick line {
    stroke: white;
}

#rtChart2 .axis .tick text {
    fill: white;
    font-size: 0.7em;
}

#rtChart2 .group {
    fill: none;
    stroke: black;
    stroke-width: 1.5;
}








#graph {
  fill: white;
  width: 960px;
  height: 480px;
}

.line {
  fill: white;
  stroke: black;
}

text {
  fill: white;
  font-size: 0.5rem;
}
